*.iml
.gradle
/local.properties
/.idea
.DS_Store
*/build
build/
/captures
/multiplatform-crypto/node_modules
gradle.properties
/buildSrc/out
/multiplatform-crypto/package.json
/multiplatform-crypto/package-lock.json
/package.json
/multiplatform-crypto/src/jsMain/npm/node_modules
/multiplatform-crypto/src/jsMain/npm/package-lock.json
