*.iml
.gradle
/local.properties
/.idea
.DS_Store
*/build
build/
/captures
/multiplatform-crypto/node_modules
/buildSrc/out
/multiplatform-crypto/package.json
/multiplatform-crypto/package-lock.json
/package.json
/multiplatform-crypto/src/jsMain/npm/node_modules
/multiplatform-crypto/src/jsMain/npm/package-lock.json
/multiplatform-crypto-delegated/node_modules
/multiplatform-crypto-delegated/package.json
/multiplatform-crypto-delegated/package-lock.json
/multiplatform-crypto-libsodium-bindings/node_modules
/multiplatform-crypto-libsodium-bindings/package.json
/multiplatform-crypto-libsodium-bindings/package-lock.json
/sodiumWrapper/include/
/sodiumWrapper/lib/
/sodiumWrapper/ios-include/
/sodiumWrapper/ios-lib/
/sodiumWrapper/static-arm64/
/sodiumWrapper/static-arm32/
/sodiumWrapper/static-ios/
/sodiumWrapper/static-linux-x86-64/
/sodiumWrapper/static-macos-x86-64/
/sodiumWrapper/static-mingw-x86-64/
/sodiumWrapper/static-tvos/
/sodiumWrapper/static-watchos/
/kotlin-multiplatform-libsodium-generator/out/
/sodiumWrapper/static-ios-simulators/
/sodiumWrapper/static-tvos-simulators/
/sodiumWrapper/static-watchos-simulators/
